body {
	background: url('../images/cosmic-cats.jpg') repeat;
	background-size: fill;
	background-attachment: fixed;
	font-family: 'Permanent Marker', cursive;
}

.jumbotron {
	background-color: rgba(0,0,0,1);
	height: 280px;
	color: white;
	text-align: center;
}

#main {
	background-color: rgba(0,0,0,0.7);
	border-radius: 2%;
}

#word-blanks {
	letter-spacing: 1ex;
}

.card {
	margin: 3%;
	padding: 3%;
	width: 80%;
	text-align: center;
}

#cat-photo {
	width: 80%;
	padding-top: 15%;
}



